.app{
    overflow: hidden;
}
/* Header */
.header{
    height: var(--header-height);
    background-color: var(--primary-color);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
}

.header__navbar-item{
    position: relative;
}

.header__navbar-link{
    text-decoration: none;
    margin-left: 12px;
    padding: 0 6px;
    font-size: 1.5rem;
    color: var(--white-color);
}

.header__navbar-link:hover{
    color: var(--text-color);
}

.header__navbar-logo{
    width: 125px;
}

.header__navbar-category-product{
    position: absolute;
    list-style: none;
    top: calc(100% + 15px);
    right: -50%;
    z-index: 1;
    background-color: var(--white-color);
    padding-left: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    border-radius: 3px;
    display: none;
    animation: fadeIn linear 0.2s;
}

.header__navbar-category-product::before{
    position: absolute;
    content: '';
    top: -15px;
    width: 70%;
    height: 20px;
    background-color: transparent;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header__navbar-item-has-category:hover .header__navbar-category-product{
    display: block;
}

.header__navbar-category-item{
    border-top: 1px solid var(--border-color);
}

.header__navbar-category-item:first-child{
    border-top: none;
}

.header__navbar-category-link{
    width: 12   0px;
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 12px 40px 12px 20px;
}

.header__navbar-category-link:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__navbar-category-link:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}


.header__navbar-category-link:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
    opacity: 0.9;
}

.header__navbar-cart{
    position: relative;
    -webkit-tap-highlight-color: transparent;
    display: flex;
}

.header__navbar-cart-wrap{
    display: flex;
}

.header__navbar-cart-list{
    display: none;
    position: absolute;
    top: calc(100% + 25px);
    right: 1px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.128rem rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
}

.header__navbar-cart-list::before{
    content: '';
    position: absolute;
    right: 10px;
    top: -27px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__navbar-cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__navbar-cart-list-item{
    padding-left: 0;
    list-style: none;
    overflow: hidden auto;
    max-height: 50vh;
}

.header__navbar-cart-item{
    display: flex;
    align-items: center;
}

.header__navbar-cart-item:hover{
    background-color: #F8F8F8;
}

.header__navbar-cart-img{
    width: 42px;
    height: 42px;
    margin: 12px 12px;
    border: 1px solid #E8E8E8;
}

.header__navbar-cart-item-info{
    width: 100%;
    margin-right: 12px;
}

.header__navbar-cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.header__navbar-cart-item-name{
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    text-align: left;
    flex: 1;
    padding-right: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__navbar-cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__navbar-cart-item-multiply{
    font-size: 1rem;
    margin: 0 4px;;
    color: #757575;
}

.header__navbar-cart-item-quantity{
    font-size: 1.3rem;
    color: #757575;
}

.header__navbar-cart-item-body{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.header__navbar-cart-item-desc{
    font-size: 1.2rem;
    color: #757575;
    font-weight: 300;
}

.header__navbar-cart-item-remove{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

.header__navbar-cart-item-remove:hover{
    cursor: pointer;
    color: var(--primary-color);
}

.header__navbar-cart-item-cart{
    float: right;
    margin: 0 12px 0 0;
}

.header__navbar-cart-item-cart:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.header__navbar-cart-item-cart-btn{
    min-width: 124px;
    height: 40px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    margin-top: 10px;
    transition: all linear 0.2s;
}

.header__navbar-cart-link{
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 300;
}

.header__navbar-cart-link:hover{
    color: var(--text-color);
}

.header__navbar-cart-wrap:hover .header__navbar-cart-list{
    display: block;
}

.header__navbar-cart-icon{
    font-size: 1.9rem;
}

.header__navbar-mobile-bars{
    display: none;
    font-size: 2rem;
    line-height: 2rem;
    color: var(--white-color);
    margin-left: 15px;
    cursor: pointer;
}

.header__navbar-mobile-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
    display: none;
}

.header__navbar-mobile{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: var(--primary-color);
    transform: translateX(+100%);
    opacity: 0;
    transition: all linear 0.2s;
    will-change: transform opacity;
    z-index: 2;
    list-style: none;
}

.header__navbar-mobile-list{
    list-style: none;
    margin-top: 30px;
}

.header__navbar-mobile-link{
    text-decoration: none;
    color: var(--white-color);
    display: block;
    padding: 16px 0;
    font-size: 1.6rem;
}

.header__navbar-mobile-link-account{
    text-decoration: none;
    color: var(--white-color);
    display: inline-block;
    padding: 16px 0;
    font-size: 1.6rem;
}

.header__navbar-mobile-close{
    position: absolute;
    font-size: 2.6rem;
    color: var(--white-color);
    top: 0.5rem;
    right: 1.5rem;
    cursor: pointer;
}

.header__navbar-mobile-close:hover{
    filter: brightness(110%);
}

.nav__mobile-input:checked ~ .header__navbar-mobile-overlay{
    display: block;
    opacity: 1;
}

.nav__mobile-input:checked ~ .header__navbar-mobile{
    transform: translateX(0%);
    opacity: 1;
}

.header__navbar-category-item-mobile{
    color: var(--white-color);
}

.header__navbar-category-link-mobile{
    display: block;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.5rem;
    padding: 6px 0;
}
.content{
    margin-bottom: 100px;
}
/* Slide & Banner*/
.mySlides {
    display: none
  }
  
  img {
    vertical-align: middle;
  }
  
  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

.banner__img{
    display: flex;
    margin-top: 10px;
}

.banner__img-link{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

/* Home Product */

.home-product{
    margin-bottom: 20px;
}

.home-product__heading{
    position: relative;
    text-align: center;
    margin-top: 35px;
    font-size: 2.3rem;
}

.home-product__heading::before{
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    margin: 0 auto;
    top: 105%;
    width: 180px;
    height: 4px;
}

.home-product-item{
    position: relative;
    display: block;
    text-decoration: none;
    margin-top: 10px;
    padding-bottom: 8px;
    background-color: var(--white-color);
    border-radius: 2px;
    border: 1px solid var(--border-color);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: transform ease-in 0.2s;
    will-change: transform;
}

.home-product-item:hover{
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
    border: 1px solid var(--primary-color);

}

.home-product-item:hover .home-product-item__btn{
    display: flex;
}

.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    text-align: center;
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 8px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.home-product-item__price-current{
    display: block;
    font-size: 1.6rem;
    color: var(--primary-color);
    text-align: center;
}

.home-product-item__link{
    text-decoration: none;
    color: transparent;
}

.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite i{
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}

.home-product-item__favourite span{
    color: var(--white-color);
}

/* Tabs */
.home-catalog__heading{
    position: relative;
    text-align: center;
    padding-top: 40px;
    font-size: 2.3rem;
}

.home-catalog__heading::before{
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    margin: 0 auto;
    top: 105%;
    width: 210px;
    height: 4px;
}
.tabs {
    display: flex;
    position: relative;
    margin: 0 12px;
  }
  .tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: var(--primary-color);
    transition: all 0.5s ease;
  }
  .tab-item {
    min-width: 80px;
    padding: 16px 20px 11px 20px;
    font-size: 1.8rem;
    text-align: center;
    color: var(--primary-color);
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .tab-item:hover {
    opacity: 1;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: rgba(194, 53, 100, 0.1);
  }
  .tab-item.active {
    opacity: 1;
  }
  .tab-content {
    padding: 28px 0;
  }
  .tab-pane {
    color: #333;
    display: none;
  }
  .tab-pane.active {
    display: block;
  }
  .tab-pane h2 {
    font-size: 24px;
    margin-bottom: 8px;
  }
  

/* Product */
.catalog{
    border-radius: 2px;
    background-color: #f5f5f5;
}

.catalog__heading{
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 16px 20px 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
}

.catalog__list{
    padding: 0 0 8px 0;
    list-style: none;
}

.catalog__item{

}

.catalog__item-link{
    position: relative;
    display: block;
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 20px;
    transition: transform linear 0.2s;
}

.catalog__item-link:hover{
    color: var(--primary-color);
    transform:  translateX(10px);
}

.mobile-catalog{
    
}

.mobile-catalog__list{
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: scroll;
    display: none;
}

.mobile-catalog__item{
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-catalog__link{
    --line-height: 2rem;
    display: block;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: calc(var(--line-height) * 2);
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    text-align: center;
    width: 85px;
    border-radius: 4px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0 6px;
    background-color: var(--primary-color);
    opacity: 0.9;
}


/* Account */
.account__location{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 30px 0;
    margin-bottom: 15px;
}

.accout__location-home{
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 20px;
    color: var(--primary-color);
}

.accout__location-current{
    font-size: 1.5rem;
}

.account__heading{
    font-size: 2rem;
    font-weight: 500;
    border-bottom: 2px solid var(--primary-color);
    text-transform: uppercase;
    padding-bottom: 5px;
    margin: 0 8px;
}

.account__login{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.account__login-item{
    display: flex;
    flex-direction: column;
    padding: 15px 8px;
}

.account-link-register{
    padding: 15px 8px;
    margin-top: 50px;
}

.account-link-register__heading{
    font-size: 1.6rem;
    margin: 0 0 15px 0;
}
.account__login-submit,
.account-link-register__btn{
    min-width: 124px;
    height: 40px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    transition: all linear 0.2s;
}

.account__login-item-link:hover,
.account__register-submit:hover,
.account__login-submit:hover,
.account-link-register__btn:hover{
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
}

.account__login-input-label{
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

.account__login-input{
    background-color: #f5f5f5;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 1.4rem;
}

.account__login-item-link{
    min-width: 124px;
    height: 40px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    transition: all linear 0.2s;
}

.account__register{
    margin-top: 60px;
}

.account__register-item{
    display: flex;
    flex-direction: column;
    padding: 15px 8px;
}

.account__register-input-label{
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

.account__register-input{
    background-color: #f5f5f5;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 1.4rem;
}

.account__register-submit{
    min-width: 124px;
    height: 40px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    margin: 15px 8px;
    transition: all linear 0.2s;
}

/* Contact */
.contact-form{

}

.contact-form__heading{
    font-size: 2.0rem;
    margin: 4px 8px;
}

.contact-form__item{
    display: flex;
    flex-direction: column;
    padding: 15px 8px;
}

.contact-form__item-input{
    background-color: #f5f5f5;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 1.4rem;
}

.contact-form__item-textarea{
    background-color: #f5f5f5;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 1.4rem;
}

.contact-form__item-submit{
    min-width: 124px;
    height: 40px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    margin: 0 8px;
}

.contact-form__item-submit:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.contact-info{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.contact-info__address{
    margin: 4px 8px;
    font-size: 1.4rem;
}

.contact-info__phone{
    margin: 4px 8px;
    font-size: 1.4rem;
}

.contact-info__phone-link{
    margin: 4px 0;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--primary-color);
}

.contact-info__mail{
    margin: 4px 8px;
    font-size: 1.4rem;
}

.contact-info__map{
    margin: 4px 8px;
}


/* Delivery */

.check__delivery-item{
    display: flex;
    flex-direction: column;
    padding: 15px 8px;
}

.check__delivery-input-label{
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

.check__delivery-input-heading{
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 20px;
    text-align: center;
}

.check__delivery-input-content{
    font-size: 1.6rem;
    color: var(--text-color);
    margin: 0;
    text-align: center;
}

.check__delivery-input{
    background-color: #f5f5f5;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 1.4rem;
}

.check__delivery-submit{
    min-width: 124px;
    height: 40px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    margin: 15px 8px;
    transition: all linear 0.2s;
}

.check__delivery-submit:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/* Account Info */

.account__info{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.account__section{
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px 10px 10px 5px;
}

.account-info__edit{
    margin-left: 10px;
}

.account-info__heading{
    font-size: 1.8rem;
    margin-top: 10px;
}

.account-info__list{
    padding-left: 0;
    list-style: none;
    margin-left: 12px;
}

.account-info__link{
    text-decoration: none;
    display: block;
    color: var(--text-color);
    font-size: 1.5rem;
    margin-bottom: 15px;
    transition: transform linear 0.2s;
}

.account-info__link:hover{
    transform: translateX(10px);
    color: var(--primary-color);
}

.account-info__form{
    display: flex;
    flex-direction: column;
    padding: 15px 8px;
}

.account-info__label{
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

.account-info__input{
    background-color: #f5f5f5;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 1.4rem;
}

.account-info__submit{
    min-width: 124px;
    height: 40px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    margin: 15px 8px;
    transition: all linear 0.2s;
}

.account-info__submit:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/* Footer */
.footer{
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
    background-color: var(--white-color);
}

.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
    text-align: center;
}

.footer__list{
    padding-left: 0;
    list-style: none;
}

.footer__list-item-link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 6px 0;
    text-align: center;
    margin: 0;
}

.footer__list-item-link:hover{
    color: var(--primary-color);
}

.footer__list-item-icon{
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer__download{
    display: flex;
}

.footer__download-qr{
    width: 80px;
    border: 1px solid var(--border-color);
}

.footer__download-apps{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer__download-app-link{
    color: transparent;
    text-decoration: none;
}

.footer__download-app-img{
    height: 20px;
}

.footer__copryright{
    padding: 8px 0;
    background-color: #f5f5f5;
    margin-top: 32px;
}

.footer__copryright-text{
    margin: 0 auto;
    font-size: 1.4rem;
    color: #737373;
}






@media (max-width: 1023px){
    .header{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
    }
    .hide-on-mobile-tablet{
        display: none
    }
    .header__navbar-mobile-bars{
        display: inline-block;
    }
    .mobile-catalog__list{
        display: flex;
    }
    .content{
        margin-top: 60px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet{
        display: none;
    }
    .header__navbar-cart-list::before{
        right: 45px;
    }
}

/* Mobile */
@media (max-width: 739px){
    .row{
        margin-left: 2px;
        margin-right: 2px;
    }
    .header{
        height: 60px;
    }
    .hide-on-mobile{
        display: none;
    }
    .header__navbar-logo{
        width: 100px;
    }
    .header__navbar-cart-list{
        position: fixed;
        top: 60px;
        right: 0;
        width: 100%;
    }
    .header__navbar-cart-list::before{
        right: 66px;
    }
    .tabs{
        max-width: 100%;
    }
    .tab-item{
        font-size: 1.4rem;
        min-width: 50px;
        padding: 6px 10px 6px 10px;
    }
    .pagination-item__link{
        --height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
        height: var(--height);
    }
    .footer__content{
        padding: 0 24px;
    }
    .footer__heading{
        text-align: center;
    }
    .footer__download,
    .footer__list-item-link{
        justify-content: center;
    }
    .footer__download-apps{
        flex: unset;
    }
    .footer__download-app-link{
        padding: 6px 8px;
    }
    .account__heading{
        margin: 0 16px;
    }
    .account__login{
        margin-top: 20px;
    }
    .account__login-item{
        padding: 15px 16px;
    }
    .account-link-register{
        padding: 15px 16px;
        margin-top: 20px;
    }
    .account__register{
        margin-top: 20px;
    }
    .account__register-item{
        padding: 15px 16px;
    }
    .account__register-submit{
        width: calc(100% - 32px);
        margin: 15px 16px;
    }
}