.app{
    overflow: hidden;
}
/* Header */
.header{
    height: var(--header-height);
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 12;
}

.header__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
}

.header__navbar-item{
    position: relative;
}

.header__navbar-link{
    text-decoration: none;
    margin-left: 12px;
    padding: 0 6px;
    font-size: 1.5rem;
    color: var(--white-color);
}

.header__navbar-link:hover{
    color: var(--text-color);
}

.header__navbar-logo{
    width: 125px;
}

.header__navbar-category-product{
    position: absolute;
    list-style: none;
    top: calc(100% + 15px);
    right: -80%;
    z-index: 1;
    background-color: var(--white-color);
    padding-left: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    border-radius: 3px;
    display: none;
    animation: fadeIn linear 0.2s;
}

.header__navbar-category-product::before{
    position: absolute;
    content: '';
    top: -15px;
    width: 70%;
    height: 20px;
    background-color: transparent;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header__navbar-item-has-category:hover .header__navbar-category-product{
    display: block;
}

.header__navbar-category-item{
    border-top: 1px solid var(--border-color);
}

.header__navbar-category-item:first-child{
    border-top: none;
}

.header__navbar-category-link{
    width: 150px;
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 12px 40px 12px 20px;
}

.header__navbar-category-link:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__navbar-category-link:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}


.header__navbar-category-link:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
    opacity: 0.9;
}

.header__navbar-cart{
    position: relative;
    -webkit-tap-highlight-color: transparent;
    display: flex;
}

.header__navbar-cart-wrap{
    display: flex;
    position: relative;
    margin-right: 10px;
}

.header__navbar-cart-list{
    display: none;
    position: absolute;
    top: calc(100% + 25px);
    right: 1px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.128rem rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
}

.header__navbar-cart-list::before{
    content: '';
    position: absolute;
    right: 10px;
    top: -27px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__navbar-no-cart-item{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header__navbar-cart-no-cart-img{
    width: 300px;
    padding: 0 20px;
    margin: 0 auto;
}

.header__navbar-cart-no-cart-content{
    font-size: 1.4rem;
    font-weight: 400;
}


.header__navbar-cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__navbar-cart-list-item{
    padding-left: 0;
    list-style: none;
    overflow: hidden auto;
    max-height: 35vh;
}

.header__navbar-cart-item{
    display: flex;
    align-items: center;
}

.header__navbar-cart-item:hover{
    background-color: #F8F8F8;
}

.header__navbar-cart-img{
    width: 42px;
    height: 42px;
    margin: 12px 12px;
    border: 1px solid #E8E8E8;
}

.header__navbar-cart-item-info{
    width: 100%;
    margin-right: 12px;
}

.header__navbar-cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.header__navbar-cart-item-name{
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    text-align: left;
    flex: 1;
    padding-right: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__navbar-cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__navbar-cart-item-multiply{
    font-size: 1rem;
    margin: 0 4px;;
    color: #757575;
}

.header__navbar-cart-item-quantity{
    font-size: 1.3rem;
    color: #757575;
}

.header__navbar-cart-item-body{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.header__navbar-cart-item-desc{
    font-size: 1.3rem;
    color: #757575;
    font-weight: 300;
}

.header__navbar-cart-item-remove{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    text-decoration: none;
}

.header__navbar-cart-item-remove:hover{
    cursor: pointer;
    color: var(--primary-color);
}

.header__navbar-cart-item-cart{
    float: right;
    margin: 0 12px 0 0;
}

.header__navbar-cart-item-cart:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.header__navbar-cart-item-cart-btn{
    min-width: 124px;
    height: 40px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    margin-bottom: 10px;
    transition: all linear 0.2s;
}

.header__navbar-cart-link{
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 300;
}

.header__navbar-cart-qty {
    position: absolute;
    top: -11px;
    right: -20px;
    padding: 1px 5px;
    font-size: 1.4rem;
    border-radius: 50%;
    border: 2px solid #f19113;
    background-color: var(--white-color);
    color: var(--primary-color);
}

.header__navbar-cart-wrap:hover .header__navbar-cart-list{
    display: block;
}

.header__navbar-cart-icon{
    font-size: 1.9rem;
}

.header__navbar-mobile-bars{
    display: none;
    font-size: 2rem;
    line-height: 2rem;
    color: var(--white-color);
    margin-left: 15px;
    cursor: pointer;
}

.header__navbar-mobile-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 13;
    display: none;
}

.header__navbar-mobile{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: var(--primary-color);
    transform: translateX(+100%);
    opacity: 0;
    transition: all linear 0.2s;
    will-change: transform opacity;
    z-index: 13;
    list-style: none;
}

.header__navbar-mobile-list{
    list-style: none;
    margin-top: 30px;
}

.header__navbar-mobile-link{
    text-decoration: none;
    color: var(--white-color);
    display: block;
    padding: 16px 0;
    font-size: 1.6rem;
}

.header__navbar-mobile-link-account{
    text-decoration: none;
    color: var(--white-color);
    display: inline-block;
    padding: 16px 0;
    font-size: 1.6rem;
}

.header__navbar-mobile-close{
    position: absolute;
    font-size: 2.6rem;
    color: var(--white-color);
    top: 0.5rem;
    right: 1.5rem;
    cursor: pointer;
}

.header__navbar-mobile-close:hover{
    filter: brightness(110%);
}

.nav__mobile-input:checked ~ .header__navbar-mobile-overlay{
    display: block;
    opacity: 1;
}

.nav__mobile-input:checked ~ .header__navbar-mobile{
    transform: translateX(0%);
    opacity: 1;
}

.header__navbar-category-item-mobile{
    color: var(--white-color);
}

.header__navbar-category-link-mobile{
    display: block;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.5rem;
    padding: 6px 0;
}
.content{
    min-height: 530px;
    margin-bottom: 100px;
    margin-top: 70px;
}
/* Slide & Banner*/
.mySlides {
    display: none
  }
  
  img {
    vertical-align: middle;
  }
  
  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

.banner__img{
    display: flex;
    margin-top: 10px;
}

.banner__img-link{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

/* Home Product */

.home-product{
    margin-bottom: 20px;
}

.home-product__heading{
    position: relative;
    text-align: center;
    margin-top: 35px;
    font-size: 2.3rem;
}

.home-product__heading-search{
    position: relative;
    text-align: center;
    margin-top: 35px;
    font-size: 2.3rem;
}

.home-product__heading::before{
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    margin: 0 auto;
    top: 105%;
    width: 180px;
    height: 4px;
}

.home-product-item{
    position: relative;
    display: block;
    text-decoration: none;
    margin-top: 10px;
    padding-bottom: 8px;
    background-color: var(--white-color);
    border-radius: 2px;
    border: 1px solid var(--border-color);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: transform ease-in 0.2s;
    will-change: transform;
}

.home-product-item:hover{
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
    border: 1px solid var(--primary-color);

}

.home-product-item:hover .home-product-item__btn{
    display: flex;
}

.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    text-align: center;
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 8px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.home-product-item__price-current{
    display: block;
    font-size: 1.6rem;
    color: var(--primary-color);
    text-align: center;
    font-weight: 500;
}

.home-product-item__link{
    text-decoration: none;
    color: transparent;
}

.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite i{
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}

.home-product-item__favourite span{
    color: var(--white-color);
}

/* Tabs */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1.4rem;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: var(--primary-color);
    color : var(--white-color);
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    border-top: none;
  }
  
  .tabcontent.active{
      display: block;
  }

.home-catalog__heading{
    position: relative;
    text-align: center;
    padding-top: 40px;
    font-size: 2.3rem;
}

.home-catalog__heading::before{
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    margin: 0 auto;
    top: 105%;
    width: 210px;
    height: 4px;
}
  
/* Product */
.catalog{
    border-radius: 2px;
    background-color: #f5f5f5;
}

.catalog__heading{
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 16px 20px 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
}

.catalog__list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    list-style: none;
    padding-left: 20px;
}

.catalog__item{
    font-size: 1.2rem;
    margin: 2px;
}



/* Account */
.account__location{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 20px 0;
    margin-bottom: 15px;
}

.accout__location-home{
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 20px;
    color: var(--primary-color);
}

.accout__location-current{
    font-size: 1.5rem;
}

.account__heading{
    font-size: 2rem;
    font-weight: 500;
    border-bottom: 2px solid var(--primary-color);
    text-transform: uppercase;
    padding-bottom: 5px;
    margin: 0 8px;
}

.account__login{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.account__login-item{
    display: flex;
    flex-direction: column;
    padding: 15px 8px;
}

.account-link-register{
    padding: 15px 8px;
    margin-top: 50px;
}

.account-link-register__heading{
    font-size: 1.6rem;
    margin: 0 0 15px 0;
}
.account__login-submit,
.account-link-register__btn{
    min-width: 124px;
    height: 40px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    transition: all linear 0.2s;
}

.account__login-item-link:hover,
.account__register-submit:hover,
.account__login-submit:hover,
.account-link-register__btn:hover{
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
}

.account__login-input-label{
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

.account__login-input{
    background-color: #f5f5f5;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 1.4rem;
}

.account__login-item-link{
    min-width: 124px;
    height: 40px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    transition: all linear 0.2s;
}

.account__register{
    margin-top: 60px;
}

.account__register-item{
    display: flex;
    flex-direction: column;
    padding: 15px 8px;
}

.account__register-input-label{
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

.account__register-input{
    background-color: #f5f5f5;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 1.4rem;
}

.account__register-submit{
    min-width: 124px;
    height: 40px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    margin: 15px 8px;
    transition: all linear 0.2s;
}

/* Contact */
.contact-form__heading{
    font-size: 2.0rem;
    margin: 4px 8px;
}

.contact-form__item{
    display: flex;
    flex-direction: column;
    padding: 15px 8px;
}

.contact-form__item-input{
    background-color: #f5f5f5;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 1.4rem;
}

.contact-form__item-textarea{
    background-color: #f5f5f5;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 1.4rem;
}

.contact-form__item-submit{
    min-width: 124px;
    height: 40px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    margin: 0 8px;
}

.contact-form__item-submit:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.contact-info{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.contact-info__address{
    margin: 4px 8px;
    font-size: 1.4rem;
}

.contact-info__phone{
    margin: 4px 8px;
    font-size: 1.4rem;
}

.contact-info__phone-link{
    margin: 4px 0;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--primary-color);
}

.contact-info__mail{
    margin: 4px 8px;
    font-size: 1.4rem;
}

.contact-info__map{
    margin: 4px 8px;
}


/* Delivery */

.check__delivery-item{
    display: flex;
    flex-direction: column;
    padding: 15px 8px;
}

.check__delivery-input-label{
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

.check__delivery-input-heading{
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 20px;
    text-align: center;
}

.check__delivery-input-content{
    font-size: 1.6rem;
    color: var(--text-color);
    margin: 0;
    text-align: center;
}

.check__delivery-input{
    background-color: #f5f5f5;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 1.4rem;
}

.check__delivery-submit{
    min-width: 124px;
    height: 40px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    margin: 15px 8px;
    transition: all linear 0.2s;
}

.check__delivery-submit:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.package-info{
    margin-top: 70px;
    width: 100%;
    overflow-x: scroll;
}

.package-info__table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 70px;
}

.package-info__table thead {
    background-color: var(--primary-color);
}

.package-info__table th,td{
    border: 1px solid var(--border-color);
    padding: 5px 10px;
    font-size: 1.4rem;
}

.package-info__status-not-confirm{
    color: red;
    font-weight: bold;
}

.package-info__status-confirmed{
    color: #33CC1F;
    font-weight: bold;
}

.package-info__detail{
    color: var(--primary-color);
    text-decoration: none;
}

.package-info__detail:hover{
    color: var(--text-color);
}

.package__info-user-show{
    font-size: 1.4rem;
    font-weight: 500;
}

.package__info-user-heading{
    font-size: 1.6rem;
    color: var(--primary-color);
}

/* Account Info */

.account__info{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.account__section{
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px 10px 10px 5px;
}

.account-info__edit{
    margin-left: 10px;
}

.account-info__heading{
    font-size: 1.8rem;
    margin-top: 10px;
}

.account-info__list{
    padding-left: 0;
    list-style: none;
    margin-left: 12px;
}

.account-info__link{
    text-decoration: none;
    display: block;
    color: var(--text-color);
    font-size: 1.5rem;
    margin-bottom: 15px;
    transition: transform linear 0.2s;
}

.account-info__link:hover{
    transform: translateX(10px);
    color: var(--primary-color);
}

.account-info__form{
    display: flex;
    flex-direction: column;
    padding: 15px 8px;
}

.account-info__label{
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

.account-info__input{
    background-color: #f5f5f5;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 1.4rem;
}

.account-info__submit{
    min-width: 124px;
    height: 40px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    margin: 15px 8px;
    transition: all linear 0.2s;
}

.account-info__submit:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/* Cart */
.cart__info{
    display: flex;
    flex-direction: column;
}

.cart__info-no-cart-img{
    width: 400px;
    margin: 0 auto;
}

.cart__info-no-cart-content{
    font-size: 1.6rem;
    color: var(--text-color);
    margin: 0 auto;
    padding: 20px 0 12px 0;
}

.cart__info-no-cart-btn{
    min-width: 200px;
    height: 40px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    margin: 15px 8px;
    transition: all linear 0.2s;
    margin-left: 50%;
    transform: translateX(-50%);
}

.cart__info-no-cart-btn:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/* Product Detail */

.product-detail__img-link{
    width: 100%;
    padding: 16px 16px 8px 16px;
}

.small-img-row{
	display: flex;
	justify-content: space-between;
    padding: 0 16px;
}

.small-img-col{
	flex-basis: 24%;
	cursor: pointer;
}

.product-detail__info{
    margin: 0 24px;
    margin-top: 30%;
}

.product-detail__info-link-pre1,
.product-detail__info-link-pre2{
    font-size: 1.6rem;
    color: var(--text-color);
    text-decoration: none;
    margin-right: 10px;
}

.product-detail__info-link-pre1:hover,
.product-detail__info-link-pre2:hover{
    color: var(--primary-color);
}

.product-detail__info-name{
    font-size: 4rem;
    margin: 0;
    margin-bottom: 10px;
}

.product-detail__info-catalog{
    display: flex;
    align-items: center;
}

.product-detail__info-catalog-heading{
    font-size: 2.5rem;
    margin: 10px 10px 10px 0;
    font-weight: 400;
}

.product-detail__info-catalog-name{
    text-decoration: none;
    color: var(--text-color);
    font-size: 2.6rem;
    font-weight: bold;
}

.product-detail__info-catalog-name:hover{
    color: var(--primary-color);
}

.product-detail__info-status{
    display: flex;
    align-items: center;
}

.product-detail__info-status-check{
    font-size: 2.2rem;
    margin: 10px 10px 10px 0;
    font-weight: 400;
}

.product-detail__info-status-checkname{
    margin: 0;
    color: #33CC1F;
    font-size: 2.3rem;
    font-weight: bold;
}

.product-detail__info-price{
    font-size: 3.5rem;
    color: var(--primary-color);
    font-weight: 600;
    margin: 10px 0;
}

.product-detail__info-qty-label{
    font-size: 2rem;
    font-weight: 500;
    margin-right: 10px;
}

.product-detail__info-qty{
    width: 40px;
    height: 25px;
    font-size: 1.5rem;
    text-align: center;
    outline: none;
    margin-bottom: 10px;
}

.product-detail__info-size{
    width: 45px;
    height: 30px;
    font-size: 1.5rem;
    text-align: center;
    outline: none;
}

.product-detail__info-qty-adjust{
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
}

.product-detail__info-btn{
    min-width: 150px;
    height: 40px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.7rem;
    padding: 0 12px;
    outline: none;
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    margin: 15px 0;
    transition: all linear 0.2s;
}

.product-detail__info-btn:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.product-detail__desc{
    font-size: 1.4rem;
    color: var(--text-color);
    text-align: justify;
    font-weight: 400;
}

.product-detail__desc-heading{
    font-size: 2.4rem;
    margin: 10px 0 10px 8px;
    color: var(--primary-color);
}

.product-detail__rating{
    margin: 10px 0;
}

.product-detail__rating-heading{
    font-size: 2.4rem;
    margin: 10px 0 10px 8px;
    color: var(--primary-color);
}

.product-detail__rating-item{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 8px 8px;
    margin-left: 8px    ;
}

.product-detail__rating-label{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

.product-detail__rating-input{
    background-color: #f5f5f5;
    border: none;
    outline: none;
    padding: 12px 20px;
    font-size: 1.4rem;
}

.product-detail__rating-textarea{
    background-color: #f5f5f5;
    border: none;
    outline: none;
    padding: 12px 20px;
    font-size: 1.4rem;
}

.product-detail__rating-submit{
    min-width: 124px;
    height: 40px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    margin: 0 16px;
    transition: all linear 0.2s;
}
.product-detail__rating-submit:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.product-relative{
    float: right;
}

.product-relative__heading{
    font-size: 1.6rem;
    color: var(--primary-color);
}

.product-relative__list{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

.product-relative__item{
    width: 100%;
}

.product-relative__item-link{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.product-relative__item-img{
    width: 80px;
}

.product-relative__item-info{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.product-relative__item-name{
    color: var(--text-color);
    font-size: 1.4rem;
}

.product-relative__item-price{
    color: var(--primary-color);
    font-size: 1.4rem;
}

/* Admin */

.login-form{
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-top: 220px;
}

.login-form__item-img{
    width: 300px;
    margin: 0 auto;
    padding: 15px 0;
}

.login-form__item{
    display: flex;
    flex-direction: column;
    padding: 8px 50px;
}

.login-form__item-label{
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

.login-form__item-input{
    background-color: var(--white-color);
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 1.4rem;
}

.login-form__item-submit{
    min-width: 124px;
    height: 40px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    transition: all linear 0.2s;
    margin-bottom: 15px;
}

.login-form__item-submit:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/* Menu admin */

.admin-menu{
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    max-width: 16.66667vw;
    top: 0;
    bottom: 0;
}

.admin-menu__mobile{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: var(--primary-color);
    transform: translateX(-100%);
    opacity: 0;
    transition: all linear 0.2s;
    will-change: transform opacity;
    list-style: none;
    z-index: 10;
}

.header__navbar-mobile-overlay-admin{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 9;
    display: none;
}

.header__navbar-mobile-close-admin{
    position: absolute;
    font-size: 2.6rem;
    color: var(--white-color);
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 2;
    padding: 5px;
}

.header__navbar-mobile-close:hover{
    filter: brightness(110%);
}

.nav__mobile-input-admin{
    outline: none;
}

.nav__mobile-input-admin:checked ~ .header__navbar-mobile-overlay-admin{
    display: block;
    opacity: 1;
}

.nav__mobile-input-admin:checked ~ .admin-menu__mobile{
    transform: translateX(0%);
    opacity: 1;
}

.admin-menu__list{
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.admin-menu__list{
    padding-left: 0;
}

.admin-menu__item-link{
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 1.8rem;
    color: var(--white-color);
    padding: 16px 20px;
    transition: all linear 0.2s;
}

.admin-menu__item-link.active{
    font-weight: bold;
    color: var(--text-color);
}

.admin-menu__item-link:hover{
    color: var(--text-color);
}

.admin-menu__item-link-has-img{
    position: relative;
}

.admin-menu__item-link-has-img::after{
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--white-color);
}

.admin-menu__item-link-img{
    width: 100px;
}

.admin-header{
    position: fixed;
    width: 83.33333vw;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #f1f1f1;
    justify-content: space-between;
    z-index: 1;
}

.admin-header__sections{
    display: flex;
    margin-left: 16px;
    align-items: center;
}

.admin-menu-icon{
    font-size: 1.6rem;
    margin-right: 24px;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

.admin-header__back-to-website{
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.6rem;
    margin-right: 24px;
}
.admin-header__notify-item:hover,
.admin-header__back-to-website:hover{
    opacity: 0.8;
}

.admin-header__admin-info{
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.admin-header__admin-name{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
}

.admin-header__admin-logout{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    margin-left: 10px;
    font-weight: 400;
}

.admin-header__admin-logout:hover{
    font-weight: 500;
}

/* Profit */

.admin-content{
    margin: 0 20px;
    margin-top: 70px;
}

.admin-content__heading{
    font-size: 2.5rem;
    margin: 12px 0;
    text-transform: uppercase;
}

.admin-content__profit{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f1f1f1;
    border-left: 10px solid rgb(18, 202, 18);
    border-radius: 10px;
    margin: 5px 20px;
}

.admin-content__all-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f1f1f1;
    border-left: 10px solid rgb(41, 41, 255);
    border-radius: 10px;
    margin: 5px 20px;
}

.admin-content__item-sold{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f1f1f1;
    border-left: 10px solid rgb(255, 230, 0);
    border-radius: 10px;
    margin: 5px 20px;
}

.admin-content__item-not-confirm{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f1f1f1;
    border-left: 10px solid rgb(252, 18, 18);
    border-radius: 10px;
    margin: 5px 20px;
}

.admin-content__item-not-confirm-img,
.admin-content__all-item-img,
.admin-content__item-sold-img,
.admin-content__profit-img{
    font-size: 3.5rem;
}

.admin-content__all-item-heading,
.admin-content__item-sold-heading,
.admin-content__item-not-confirm-heading,
.admin-content__profit-heading{
    font-size: 1.8rem;
    margin: 0;
    margin: 5px 0 10px 0
}

.admin-content__item-not-confirm-info,
.admin-content__item-sold-info,
.admin-content__all-item-info,
.admin-content__profit-info{
    font-size: 1.8rem;
    margin: 0;
    padding-bottom: 5px;
    font-weight: 500;
}

.admin-content__profit-info{
    color: rgb(18, 202, 18);
}

.admin-content__all-item-info{
    color: rgb(41, 41, 255);
}

.admin-content__item-sold-info{
    color: rgb(255, 230, 0);
}

.admin-content__item-not-confirm-info{
    color: rgb(252, 18, 18);
}

.admin-content__add-product{
    min-width: 124px;
    height: 40px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    transition: all linear 0.2s;
}

.admin-content__add-product:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/* Add product */

.admin__add-product-item{
    display: flex;
    flex-direction: column;
}

.admin__add-product-label{
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

.admin__add-product-input{
    background-color: #f5f5f5;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.admin__add-product-image{
    font-size: 1.4rem;
    margin-bottom: 10px;    
}

.admin__add-product-textarea{
    height: 120px;
    background-color: #f5f5f5;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 1.4rem;
    margin-bottom: 10px;   
}

.admin__add-product-select{
    background-color: #f5f5f5;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 1.4rem;
    margin-bottom: 10px;   
}

.admin__add-product-btn{
    min-width: 124px;
    height: 40px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    transition: all linear 0.2s;
}

.admin__add-product-btn:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.admin__product {
    min-width: 100%;
    overflow-x: auto;
    padding-bottom: 20px;
}

.admin__product-table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 20px;
    overflow-x: auto;
    font-size: 1.4rem;
}

.admin__product-table table thead{
    border: 1px solid var(--text-color);
}

.admin__product-table-td,
.admin__product-table-th{
    border: 1px solid var(--text-color);
    padding: 8px;
}

.error{
    font-size: 1.4rem;
    color: red;
}

.page-btn{
	text-align: right;
	margin-top: 20px;
}
.page-item{
	border: 1px solid #ccc;
	padding: 5px 10px;
	color: #000;
    text-decoration: none;
    font-size: 1.4rem;
}
.current-page{
	background: var(--primary-color);
	color: var(--text-color);
}

.catalog_search-btn{
    min-width: 55px;
    height: 35px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    transition: all linear 0.2s;
    margin: 12px;
}

.catalog_search-btn:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/* Cart */

.cart-table table{
    border-collapse: collapse;
    width: 100%;
    font-size: 1.4rem;
    text-align: left;
}

.cart-table table thead{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.cart-table table th,td{
    border: 1px solid var(--border-color);
    padding: 5px 10px;
}

.cart-product{
    display: flex;
    align-items: center;
}

.cart-product__img{
    width: 75px;
}

.cart-product__info{
    margin-left: 20px;
}

.cart-product__info-name{
    font-weight: bold;
    font-size: 1.6rem;
    margin: 6px 0;
}

.cart-product__info-size{
    font-weight: 500;
    font-size: 1.5rem;
    margin: 6px 0;
}

.cart-product__info-price{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 6px 0;
}

.cart-product__info-remove{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
}

.cart-product__qty-btn{
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-size: 1.4rem;
    padding: 1px 5px;
    border-radius: 3px;
}

.cart-product__qty-info{
    display: inline;
}

.cart-product__total{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 6px 0;
}

.cart-product__total-price{
    margin-top: 10px;
    border-top: 5px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cart-product__total-price-heading{
    font-size: 1.8rem;
    margin: 6px 0;
}

.cart-product__total-price-money{
    margin: 6px 0;
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
}

.cart-product__total-price-pay{
    min-width: 55px;
    height: 35px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    transition: all linear 0.2s;
    margin-top: 10px;
}

.cart-product__total-price-pay:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/* Pay */

.cart-product__pay-total-price{
    margin-top: 10px;
    border-top: 5px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cart-product__pay-total-price-heading{
    font-size: 1.8rem;
    margin: 6px 0;
}

.cart-product__pay-total-price-money{
    margin: 6px 0;
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
}

.cart-product__pay-total-price-pay{
    min-width: 55px;
    height: 35px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    transition: all linear 0.2s;
    margin-top: 10px;
}

.cart-product__pay-total-price-pay:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.cart-product__pay{
    margin-top: 20px;
}

.cart-product__pay-heading{
    font-size: 2rem;
    color: var(--primary-color);
}

.cart-product__pay-item{
    display: flex;
    flex-direction: column;
}

.cart-product__pay-item-label{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-bottom: 5px;
}

.cart-product__pay-item-input{
    background-color: #f5f5f5;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

/* Rating */
.product-detail_show-rating{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.product-detail_show-rating-result{
    display: flex;
    align-items: center;
}

.product-detail__rating-record{
    margin: 0;
    font-size: 1.4rem;
}

.product-detail__rating-list{
    padding-left: 0;
    list-style: none;
    margin: 0 8px;
}

.product-detail__rating-list-item{
    width: 100%;
    background-color: #f1f1f1;
    padding: 5px 20px;
}

.product-detal__rating-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-detail__rating-user-icon{
    font-size: 1.4rem;
    margin-right: 10px;
}

.product-detail__rating-user-name{
    font-size: 1.4rem;
}

.product-detail__rating-user-rating-content{
    font-size: 1.5rem;
    font-weight: 400;
}

.product-detail__rating-user-rating-time{
    font-size: 1.3rem;
    font-weight: normal;
}
/* Footer */
.footer{
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
    background-color: var(--white-color);
}

.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
    text-align: center;
}

.footer__list{
    padding-left: 0;
    list-style: none;
}

.footer__list-item-link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 6px 0;
    text-align: center;
    margin: 0;
}

.footer__list-item-link:hover{
    color: var(--primary-color);
}

.footer__list-item-icon{
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer__download{
    display: flex;
}

.footer__download-qr{
    width: 80px;
    border: 1px solid var(--border-color);
}

.footer__download-apps{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer__download-app-link{
    color: transparent;
    text-decoration: none;
}

.footer__download-app-img{
    height: 20px;
}

.footer__copryright{
    padding: 8px 0;
    background-color: #f5f5f5;
    margin-top: 32px;
}

.footer__copryright-text{
    margin: 0 auto;
    font-size: 1.4rem;
    color: #737373;
}

/* Back to top */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 12;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 18px;
    transition: all linear 0.3s;
  }
  
  #myBtn:hover {
    background-color: #f1f1f1;
    color: var(--primary-color);
  }

  .result-detail{
      text-align: center;
      font-size: 1.5rem;
      color: red;
  }
  .confirm-package_btn{
    min-width: 50px;
    height: 40px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    margin-top: 15px;
    transition: all linear 0.2s;
  }
  .confirm-package_btn:hover{
      color: var(--primary-color);
      border: 1px solid var(--primary-color);
      background-color: var(--white-color);
  }




/* > Tablet */
@media (max-width: 1112px){
    .admin-menu-icon{
        display: block;
    }
    .admin-header__search-input{
        display: none;
    }
    .admin-header__notify{
        display: none;
    }
    .admin-header{
        width: 100vw;
    }
    
}
/* Mobile & Tablet */
@media (max-width: 1023px){
    .hide-on-mobile-tablet{
        display: none
    }
    .header__navbar-mobile-bars{
        display: inline-block;
    }
    .product-detail__img{
        display: flex;
    }
    .product-detail__img-link{
        width: 80%;
        padding: 8px;
        padding-left: 0;
    }
    .small-img-row{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 8px 0;
    }
    .small-img-col{
        flex-basis: 24%;
        cursor: pointer;
        padding-bottom: 8px;
    }
    .small-img-col:last-child{
        padding-bottom: 0;
    }
    .catalog__list{
        justify-content: space-around;
        flex-direction: row;
        padding-left: 0;
    }
    .product-detail__info{
        margin: 0 12px;
        margin-top: 15px;
    }
    .product-detail__desc{
        margin: 0 8px;
    }
    .product-relative{
        float: unset;
        width: 100%;
        margin: 0 8px;
    }
    .product-relative__list{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .product-relative__item{
        margin-right: 30px;
    }
    .product-relative__item-link{
        flex: 0 0 50%;
    }
    .admin-header{
        width: 100vw;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet{
        display: none;
    }
    .header__navbar-cart-list::before{
        right: 45px;
    }
    .product-relative__item{
        display: contents;
    }
    .content {
        margin-top: 70px;
    }
}

/* Mobile */
@media (max-width: 739px){
    .row{
        margin-left: 2px;
        margin-right: 2px;
    }
    .header{
        height: 60px;
    }
    .hide-on-mobile{
        display: none;
    }
    .header__navbar-logo{
        width: 100px;
    }
    .header__navbar-cart-list{
        position: fixed;
        top: 60px;
        right: 0;
        width: 100%;
    }
    .header__navbar-cart-list::before{
        right: 66px;
    }
    .header__navbar-cart-no-cart-img{
        width: 350px;
        margin: 0 auto;
    }
    .cart__info-no-cart-img{
        width: 300px;
    }
    .content {
        margin-top: 60px;
    }
    .product-detail__rating-item{
        width: 100%;
        padding-right: 20px;
    }
    .footer__content{
        padding: 0 24px;
    }
    .footer__heading{
        text-align: center;
    }
    .footer__download,
    .footer__list-item-link{
        justify-content: center;
    }
    .footer__download-apps{
        flex: unset;
    }
    .footer__download-app-link{
        padding: 6px 8px;
    }
    .account__heading{
        margin: 0 16px;
    }
    .account__login{
        margin-top: 20px;
    }
    .account__login-item{
        padding: 15px 16px;
    }
    .account-link-register{
        padding: 15px 16px;
        margin-top: 20px;
    }
    .account__register{
        margin-top: 20px;
    }
    .account__register-item{
        padding: 15px 16px;
    }
    .account__register-submit{
        width: calc(100% - 32px);
        margin: 15px 16px;
    }
    .login-form{
        margin-top: 25%;
    }
    .login-form__item{
        padding: 8px 16px;
    }
    .login-form__item-img{
        width: calc(100% - 42px);
    }
    .admin-header{
        height: 60px;
    }
    .admin-content{
        margin: 0 8px;
    }
    .admin-menu-icon{
        margin-right: 20px;
    }
    .admin-content__heading{
        font-size: 2rem;
    }
    .admin-header__admin-name{
        font-size: 1.4rem;
    }
    .admin-header__admin-logout{
        font-size: 1.3rem;
        margin-left: 8px;
    }
    .admin-header__back-to-website{
        font-size: 1.4rem;
        margin-right: 8px;
    }
    .admin-content__item-not-confirm-img,
    .admin-content__item-sold-img,
    .admin-content__all-item-img,
    .admin-content__profit-img{
        font-size: 2.2rem;
    }
    .admin-content__item-not-confirm-heading,
    .admin-content__item-sold-heading,
    .admin-content__profit-heading,
    .admin-content__all-item-heading{
        font-size: 1.5rem;
    }
    .admin-content__item-not-confirm-info,
    .admin-content__item-sold-info,
    .admin-content__profit-info,
    .admin-content__all-item-info{
        font-size: 1.5rem;
    }
    .admin-content{
        margin-top: 60px;
    }
    .cart-product__img {
        width: 50px;
    }

    .cart-product__total,
    .cart-product__qty-info,
    .cart-product__qty-btn,
    .cart-product__info-remove,
    .cart-product__info-price,
    .cart-product__info-size,
    .cart-product__info-name{
        font-size: 1.2rem;
    }
    .cart-product__total-price-pay,
    .cart-product__total-price-money,
    .cart-product__total-price-heading{
        font-size: 1.3rem;
    }
    .cart-product__pay-total-price-pay,
    .cart-product__pay-total-price-money,
    .cart-product__pay-total-price-heading{
        font-size: 1.3rem;
    }
    .cart-product__pay-heading{
        font-size: 1.4rem;
    }
    .cart-product__pay-item-label,
    .cart-product__pay-item-input{
        font-size: 1.2rem;
    }
}