
/* > Tablet */
@media (max-width: 1112px){
    .admin-menu-icon{
        display: block;
    }
    .admin-header__search-input{
        display: none;
    }
    .admin-header__notify{
        display: none;
    }
    .admin-header{
        width: 100vw;
    }
    
}
/* Mobile & Tablet */
@media (max-width: 1023px){
    .hide-on-mobile-tablet{
        display: none
    }
    .header__navbar-mobile-bars{
        display: inline-block;
    }
    .product-detail__img{
        display: flex;
    }
    .product-detail__img-link{
        width: 80%;
        padding: 8px;
        padding-left: 0;
    }
    .small-img-row{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 8px 0;
    }
    .small-img-col{
        flex-basis: 24%;
        cursor: pointer;
        padding-bottom: 8px;
    }
    .small-img-col:last-child{
        padding-bottom: 0;
    }
    .catalog__list{
        justify-content: space-around;
        flex-direction: row;
        padding-left: 0;
    }
    .product-detail__info{
        margin: 0 12px;
        margin-top: 15px;
    }
    .product-detail__desc{
        margin: 0 8px;
    }
    .product-relative{
        float: unset;
        width: 100%;
        margin: 0 8px;
    }
    .product-relative__list{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .product-relative__item{
        margin-right: 30px;
    }
    .product-relative__item-link{
        flex: 0 0 50%;
    }
    .admin-header{
        width: 100vw;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet{
        display: none;
    }
    .header__navbar-cart-list::before{
        right: 45px;
    }
    .product-relative__item{
        display: contents;
    }
    .content {
        margin-top: 70px;
    }
}

/* Mobile */
@media (max-width: 739px){
    .row{
        margin-left: 2px;
        margin-right: 2px;
    }
    .header{
        height: 60px;
    }
    .hide-on-mobile{
        display: none;
    }
    .header__navbar-logo{
        width: 100px;
    }
    .header__navbar-cart-list{
        position: fixed;
        top: 60px;
        right: 0;
        width: 100%;
    }
    .header__navbar-cart-list::before{
        right: 66px;
    }
    .header__navbar-cart-no-cart-img{
        width: 350px;
        margin: 0 auto;
    }
    .cart__info-no-cart-img{
        width: 300px;
    }
    .content {
        margin-top: 60px;
    }
    .product-detail__rating-item{
        width: 100%;
        padding-right: 20px;
    }
    .footer__content{
        padding: 0 24px;
    }
    .footer__heading{
        text-align: center;
    }
    .footer__download,
    .footer__list-item-link{
        justify-content: center;
    }
    .footer__download-apps{
        flex: unset;
    }
    .footer__download-app-link{
        padding: 6px 8px;
    }
    .account__heading{
        margin: 0 16px;
    }
    .account__login{
        margin-top: 20px;
    }
    .account__login-item{
        padding: 15px 16px;
    }
    .account-link-register{
        padding: 15px 16px;
        margin-top: 20px;
    }
    .account__register{
        margin-top: 20px;
    }
    .account__register-item{
        padding: 15px 16px;
    }
    .account__register-submit{
        width: calc(100% - 32px);
        margin: 15px 16px;
    }
    .login-form{
        margin-top: 25%;
    }
    .login-form__item{
        padding: 8px 16px;
    }
    .login-form__item-img{
        width: calc(100% - 42px);
    }
    .admin-header{
        height: 60px;
    }
    .admin-content{
        margin: 0 8px;
    }
    .admin-menu-icon{
        margin-right: 20px;
    }
    .admin-content__heading{
        font-size: 2rem;
    }
    .admin-header__admin-name{
        font-size: 1.4rem;
    }
    .admin-header__admin-logout{
        font-size: 1.3rem;
        margin-left: 8px;
    }
    .admin-header__back-to-website{
        font-size: 1.4rem;
        margin-right: 8px;
    }
    .admin-content__item-not-confirm-img,
    .admin-content__item-sold-img,
    .admin-content__all-item-img,
    .admin-content__profit-img{
        font-size: 2.2rem;
    }
    .admin-content__item-not-confirm-heading,
    .admin-content__item-sold-heading,
    .admin-content__profit-heading,
    .admin-content__all-item-heading{
        font-size: 1.5rem;
    }
    .admin-content__item-not-confirm-info,
    .admin-content__item-sold-info,
    .admin-content__profit-info,
    .admin-content__all-item-info{
        font-size: 1.5rem;
    }
    .admin-content{
        margin-top: 60px;
    }
    .cart-product__img {
        width: 50px;
    }
    .pay-method,
    .cart-product__total,
    .cart-product__qty-info,
    .cart-product__qty-btn,
    .cart-product__info-remove,
    .cart-product__info-price,
    .cart-product__info-size,
    .cart-product__info-name{
        font-size: 1.2rem;
    }
    .cart-product__total-price-pay,
    .cart-product__total-price-money,
    .cart-product__total-price-heading{
        font-size: 1.3rem;
    }
    .cart-product__pay-total-price-pay,
    .cart-product__pay-total-price-money,
    .cart-product__pay-total-price-heading{
        font-size: 1.3rem;
    }
    .cart-product__pay-heading{
        font-size: 1.4rem;
    }
    .cart-product__pay-item-label,
    .cart-product__pay-item-input{
        font-size: 1.2rem;
    }
}